.about{
    min-height: 80vh;
    margin:auto;
    position: relative;
    overflow: hidden;
}

.about-container{
    padding: 5rem 12% 0 10%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    li{ 
        list-style: none;
        padding-left: 2rem;
        padding-top: 1.5rem;
        p{
            font-size: 2.25rem;
        }
        ul{
            li{
                padding-top: 1rem;
            }
        }
    }

    button{
        grid-column: 2/3;
        grid-row: 2/3;
        margin-top: 1rem;
        width: 15rem;
        height: 4rem;
        border-radius: 0.5rem;
        border-width: 0.25rem;
        border-color: #ff6961;
        color:white;
        background-color: transparent;
        a{
            font-size:2rem;
            border-bottom: none;
            color:white;
        }
    }
    button:hover{
        cursor: pointer;
        a{
            color:#ff6961;
        }
    }

    a{
        color: #ff6961;
        border-bottom: 1px solid grey;
        font-size: 2.25rem;
    }
    .internships{
        display: flex;
        flex-direction: row;
        flex: 1;
        padding-top: 1rem;
        padding-left: 3rem;
        p{
            font-size: 2.25rem;
        }
        ul{
            li{
                padding-top: 1.5rem;
            }
        }
    }
}