footer{
    min-height: 7rem;
    background: black;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{
        display: flex;
        flex: 0;
        list-style: none;
        justify-content: space-between;
        margin-left: auto;
        li{
            padding-left: 8rem;
        }
    }
    h1{
        flex: 3;
    }
    img{
        width:3rem;
    }
}