.projects{
    position: relative;
    overflow: hidden;
    min-height: 80vh;
    padding: 5rem 12% 0 10%;
    .github-logo{
        width:5rem;
    }
}

.projects-container{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .photography{
        border-color: white;
    }
    .project-card{
        min-width:35%;    
        margin:auto;
        display:grid;
        align-items: center;
        justify-self: center;
        margin-left: 2rem;
        margin-right: 2rem;
        grid-template-columns: 100%;
        grid-template-rows: 25rem 10rem 30rem;
        img{ 
            margin:auto;
            grid-row: 1/2;
            max-height: 25rem;
            max-width: 25rem;
            justify-self: center;
            align-self: flex-end;
        }
        .camera{
            margin: 0;
            padding-left: 4rem;
            max-width: 50rem;
            max-height: 40rem;
        }
        .shout-logo{
            max-width: 22rem;
            margin-bottom:6rem;
        }
        h4{
            font-size: 3.5rem;
            grid-row:2/3;
            justify-self: center;
            a{
                color:#ff6961;
                font-size: 3.5rem;
                border-bottom: 1px solid grey;
            }
        }
        p{
            align-self: flex-start;
            font-size: 2.5rem;
            font-weight: normal;
            color:white;
            a{
                color: #ff6961;
                border-bottom: 1px solid grey;
                font-size: 2.5rem;
            }
        }
    }
    ul{
        padding:4rem;
    }
    li{
        list-style: none;
    }
}