html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-image: linear-gradient(315deg, black 0%, #28313b 74%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 50%;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 2rem;
}

a.anchor {
  display: block;
  position: relative;
  top: -12rem;
  visibility: hidden;
}

nav {
  background: #131313;
  width: 100vw;
  z-index: 1;
  padding: 3rem 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav a {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  position: relative;
}

nav h1 {
  font-family: 'lobster', cursive;
  font-weight: normal;
}

.divider-vertical {
  background: rgba(255, 105, 97, 0.55);
  border-radius: 5px;
}

.side-nav {
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  right: 5rem;
  top: 15rem;
}

.side-nav .divider-vertical {
  height: 19rem;
  width: 0.5rem;
  margin: auto 1.5rem auto auto;
}

.side-nav ul {
  list-style: none;
}

.side-nav ul li {
  font-size: 5rem;
}

.side-nav ul li a.active {
  color: #ff6961;
}

.side-nav li:active {
  text-decoration: none;
}

.side-nav li:active a {
  color: #ff6961;
}

.side-nav li:hover {
  text-decoration: none;
}

.side-nav li:hover a {
  color: gray;
}

.divider-horizontal {
  background: rgba(255, 105, 97, 0.55);
  width: 40rem;
  height: 0.5rem;
  border-radius: 5px;
  margin: auto;
}

body {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 6rem;
  font-family: 'Lato', sans-serif;
  padding-bottom: 1rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 4rem;
}

p {
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

.intro {
  min-height: 80vh;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.intro-container {
  padding-top: 15rem;
  padding: 15rem 10% 0 10%;
  display: -ms-grid;
  display: grid;
  min-height: 50rem;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
}

.intro-container .headshot {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 1rem 1rem 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
  margin-top: auto;
  overflow: hidden;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-column-align: center;
      justify-self: center;
}

.intro-container .icons {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.intro-container .icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.intro-container .icons ul li {
  margin-left: 1rem;
  margin-right: 1rem;
}

.intro-container .icons ul img {
  width: 3rem;
}

.intro-container .info {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.intro-container .info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.intro-container .info ul h4 {
  font-size: 3.5rem;
  color: white;
  margin-right: auto;
}

.intro-container .info ul p {
  font-size: 2.5rem;
}

.intro-container .learnmore {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.intro-container .learnmore button {
  margin-top: 1rem;
  width: 15rem;
  height: 4rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #ff5561;
}

.intro-container button:hover {
  cursor: pointer;
}

.intro-container button:hover a {
  color: black;
}

@media screen and (max-width: 800px) {
  nav {
    padding-left: 3rem;
    padding-right: 5rem;
    position: absolute;
  }
  .showcase {
    -ms-grid-rows: 1.25fr 0.25fr 0.5fr 0.35fr;
        grid-template-rows: 1.25fr 0.25fr 0.5fr 0.35fr;
  }
  .showcase .headshot {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .showcase .icons {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .showcase .info {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .showcase .info ul h4 {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .showcase .info ul p {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .showcase button {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

.about {
  min-height: 80vh;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.about-container {
  padding: 5rem 12% 0 10%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-container li {
  list-style: none;
  padding-left: 2rem;
  padding-top: 1.5rem;
}

.about-container li p {
  font-size: 2.25rem;
}

.about-container li ul li {
  padding-top: 1rem;
}

.about-container button {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-top: 1rem;
  width: 15rem;
  height: 4rem;
  border-radius: 0.5rem;
  border-width: 0.25rem;
  border-color: #ff6961;
  color: white;
  background-color: transparent;
}

.about-container button a {
  font-size: 2rem;
  border-bottom: none;
  color: white;
}

.about-container button:hover {
  cursor: pointer;
}

.about-container button:hover a {
  color: #ff6961;
}

.about-container a {
  color: #ff6961;
  border-bottom: 1px solid grey;
  font-size: 2.25rem;
}

.about-container .internships {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 1rem;
  padding-left: 3rem;
}

.about-container .internships p {
  font-size: 2.25rem;
}

.about-container .internships ul li {
  padding-top: 1.5rem;
}

footer {
  min-height: 7rem;
  background: black;
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}

footer ul li {
  padding-left: 8rem;
}

footer h1 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

footer img {
  width: 3rem;
}

.projects {
  position: relative;
  overflow: hidden;
  min-height: 80vh;
  padding: 5rem 12% 0 10%;
}

.projects .github-logo {
  width: 5rem;
}

.projects-container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects-container .photography {
  border-color: white;
}

.projects-container .project-card {
  min-width: 55rem;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-left: 2rem;
  margin-right: 2rem;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 25rem 10rem 30rem;
      grid-template-rows: 25rem 10rem 30rem;
}

.projects-container .project-card img {
  margin: auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: auto;
  max-height: 25rem;
  max-width: 25rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.projects-container .project-card .camera {
  margin: 0;
  padding-left: 4rem;
  max-width: 50rem;
  max-height: 40rem;
}

.projects-container .project-card .shout-logo {
  max-width: 22rem;
  margin-bottom: 6rem;
}

.projects-container .project-card h4 {
  font-size: 3.5rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
}

.projects-container .project-card h4 a {
  color: #ff6961;
  font-size: 3.5rem;
  border-bottom: 1px solid grey;
}

.projects-container .project-card p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 2.5rem;
  font-weight: normal;
  color: white;
}

.projects-container .project-card p a {
  color: #ff6961;
  border-bottom: 1px solid grey;
  font-size: 2.5rem;
}

.projects-container ul {
  padding: 4rem;
}

.projects-container li {
  list-style: none;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
  nav #logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  nav ul li {
    margin-left: 5rem;
  }
  .showcase {
    -ms-grid-columns: 10% 1fr 10%;
        grid-template-columns: 10% 1fr 10%;
  }
  .showcase img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .showcase img, .showcase h2, .showcase .info {
    text-align: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .features {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features h2 {
    margin-top: 5rem;
  }
  .features .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
  }
  .features .cards .card {
    margin: 5rem 0rem;
  }
  .soon {
    overflow: hidden;
  }
  .soon img {
    width: 70%;
  }
  .soon h2 {
    font-size: 5rem;
    text-align: center;
  }
  footer h1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media screen and (max-width: 400px) {
  .features .cards {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */