html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    //background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../../Images/Full/tobermory_lake_full.jpg");
    background-image: linear-gradient(315deg, black 0%, #28313b 74%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 50%;
    z-index: -1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 2rem;
}
a.anchor {
    display: block;
    position: relative;
    top: -12rem;
    visibility: hidden;
}
nav{
    background: #131313;
    width: 100vw;
    z-index: 1;
    padding: 3rem 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    ul{
        display:flex;
        justify-content: space-between;
        list-style: none;
        flex: 1;
    }
    a{
        flex: 3;
        position: relative;
    }
    h1{
        font-family: 'lobster', cursive;
        font-weight: normal;
    }
}

.divider-vertical{
    background: rgba(#ff6961, 0.55);
    border-radius: 5px;
}

.side-nav{
    position: fixed;
    z-index: 1;
    display:flex;
    flex-direction: row;
    right: 5rem;
    top: 15rem;
    .divider-vertical{
        height: 19rem;
        width: 0.5rem;
        margin: auto 1.5rem auto auto;
    }
    ul{
        list-style: none;
        li{
            font-size: 5rem;
        }
    }
    ul li a.active{
        color: #ff6961;
    }
    li:active{
        text-decoration:none;
        a{
            color:#ff6961;
        }
    }
    li:hover{
        text-decoration: none;
        a{
            color: gray;
        }
    }
}

.divider-horizontal{
    background: rgba(#ff6961, 0.55);
    width: 40rem;
    height: 0.5rem;
    border-radius: 5px;
    margin:auto;
}

body{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
}
h2{
    font-size: 6rem;
    font-family: 'Lato', sans-serif;
    padding-bottom: 1rem;
}
h3{
    font-size: 3.5rem;
}
h4{
    font-size: 4rem;
}
p{
    font-size: 2.5rem;
}
li{
    font-size: 2rem;
}
a{
    color:white;
    text-decoration: none;
}

@import "intro";
@import "about";
@import "footer";
@import "projects";


@media screen and (max-width: 1200px){
    html{
        font-size: 50%;
    }
    nav{
        #logo{
            flex:1;
        }
        ul{
            li{
                margin-left: 5rem;
            }
        }
    }
    .showcase{
        grid-template-columns: 10% 1fr 10%;
        img{
            width: 100%;
            object-fit: contain;
        }
        img,h2,.info{
            text-align: center;
            grid-column:2/3;
        }
    }
    .features{
        align-items: center;
        h2{
            margin-top: 5rem;
        }
        .cards{
            flex-direction: column;
            width: 70%;
            .card{
                margin: 5rem 0rem
            }
        }
    }
    .soon{
        overflow: hidden;
        img{
            width: 70%;
        }
        h2{
            font-size: 5rem;
            text-align: center;
        }
    }
    footer{
        h1{
            flex: 1;
        }
    }
}

@media screen and (max-width: 400px){
    .features{
        .cards{
            width:100%;
        }
    }
}