html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 2rem;
}
body{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
}
h2{
    font-size: 8rem;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
}
h3{
    font-size: 3.5rem;
}
h4{
    font-size: 4rem;
}
p{
    font-size: 2.5rem;
}
li{
    font-size: 2rem;
}
a{
    color:white;
    text-decoration: none;
}
.about{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../../Images/Full/tobermory_lake_full.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 50%;
    z-index: -1;
}

@import "intro";
@import "skills";
@import "footer";


@media screen and (max-width: 1200px){
    html{
        font-size: 50%;
    }
    nav{
        #logo{
            flex:1;
        }
        ul{
            li{
                margin-left: 5rem;
            }
        }
    }
    .showcase{
        grid-template-columns: 10% 1fr 10%;
        img{
            width: 100%;
            object-fit: contain;
        }
        img,h2,.info{
            text-align: center;
            grid-column:2/3;
        }
    }
    .features{
        align-items: center;
        h2{
            margin-top: 5rem;
        }
        .cards{
            flex-direction: column;
            width: 70%;
            .card{
                margin: 5rem 0rem
            }
        }
    }
    .soon{
        overflow: hidden;
        img{
            width: 70%;
        }
        h2{
            font-size: 5rem;
            text-align: center;
        }
    }
    footer{
        h1{
            flex: 1;
        }
    }
}

@media screen and (max-width: 400px){
    .features{
        .cards{
            width:100%;
        }
    }
}